In [1]:
import pandas as pd
import numpy as np

In [3]:
###load dataset
df = pd.read_csv('adult_with_headers.csv')

In [6]:
###basic exploration

df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [7]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
###missing values
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [10]:
### scalling techniques
###numerical featrures
num_cols = df.select_dtypes(include=['int64','float64']).columns

In [11]:
### standard scalling
from sklearn.preprocessing import StandardScaler

scaler_std= StandardScaler()
df_std_scaled = df.copy()
df_std_scaled[num_cols] = scaler_std.fit_transform(df[num_cols])

In [12]:
###min-max scalling
from sklearn.preprocessing import MinMaxScaler

scaler_mm = MinMaxScaler()
df_mm_scaled = df.copy()
df_mm_scaled[num_cols]=scaler_mm.fit_transform(df[num_cols])

### WHEN TO USE WHICH

Standard Scaling - ML algorithms assuming normal distribution (Logistic Regression, SVM, Linear Regression)
Min-Max Scaling - Distance-based models (KNN, Neural Networks) & bounded inputs

In [14]:
###encoding techniques
#seprate cat columns
cat_cols = df.select_dtypes(include='object').columns

In [15]:
###One-Hot Encoding (< 5 categories)
low_cardinality=[col for col in cat_cols if df[col].nunique() < 5]

df_ohe = pd.get_dummies(df,columns=low_cardinality,drop_first=True)

In [16]:
### Label Encoding (> 5 categories)

from sklearn.preprocessing import LabelEncoder

high_cardinality = [col for col in cat_cols if col not in low_cardinality]

le = LabelEncoder()
for col in high_cardinality:
    df_ohe[col] = le.fit_transform(df_ohe[col])

In [17]:
### feature engineering
# new feature 1:capital not gain
df_ohe['capital_net'] = df_ohe['capital_gain'] - df_ohe['capital_loss']

In [20]:
### New Feature 2: Work Intensity
df_ohe['work_intensity'] = df_ohe['hours_per_week'] * df_ohe['education_num']

In [22]:
### Feature Transformation (Skewness Handling)
df_ohe['capital_gain_log'] = np.log1p(df_ohe['capital_gain'])

 capital-gain is highly right-skewed

Log transformation:

Reduces skewness

Improves model stability

Helps linear models perform better