In [1]:
import pandas as pd

df = pd.read_csv('anime.csv')
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [2]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [3]:
###missing values
df.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [6]:
###fill missing values
df['genre'].fillna('', inplace=True)
df['rating'].fillna(df['rating'].mean(), inplace=True)
df['episodes'].replace('Unknown', 0, inplace=True)
df['type'] = df['episodes'].astype(int)

C:\Users\AKSHAT\AppData\Local\Temp\ipykernel_5292\1424343183.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['genre'].fillna('', inplace=True)
C:\Users\AKSHAT\AppData\Local\Temp\ipykernel_5292\1424343183.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].fillna(df['rating'].mean(), inplace=True)
C:\Users\AKSHAT\AppData\Local\Temp\ipykernel_5292\1424343183.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['episodes'].replace('Unknown', 0, inplace=True)

In [7]:
df.isnull().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [8]:
###feature extraction
###categorial to numerical
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')
genre_matrix = tfidf.fit_transform(df['genre'])

In [9]:
###normalize numerical features
from sklearn.preprocessing import MinMaxScaler
from scipy.sparse import hstack

scaler = MinMaxScaler()
num_features = scaler.fit_transform(df[['rating','episodes','members']])

final_features = hstack([genre_matrix,num_features])

### Recommendation System Using Cosine Similarity

In [10]:
###Compute Similarity Matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(final_features)

In [55]:
### Recommendation Function
def recommend_anime(anime_name, top_n=10, threshold=0.1):
    if anime_name not in df['name'].values:
        return "Anime not found"

    idx = df[df['name'] == anime_name].index[0]
    scores = list(enumerate(cosine_sim[idx]))
    scores = sorted(scores, key=lambda x: x[1], reverse=True)
    scores = scores[1:]

    filtered = [i for i in scores if i[1] > threshold]

    if len(filtered) == 0:
        return "No recommendations at this threshold"

    anime_indices = [i[0] for i in filtered[:top_n]]
    return df[['name', 'genre', 'rating']].iloc[anime_indices]

In [57]:
recommend_anime('Boruto: Naruto the Movie', top_n=5, threshold=0.3)

,name,genre,rating
1472,Naruto: Shippuuden Movie 4 - The Lost Tower,"Action, Comedy, Martial Arts, Shounen, Super P...",7.53
1573,Naruto: Shippuuden Movie 3 - Hi no Ishi wo Tsu...,"Action, Comedy, Martial Arts, Shounen, Super P...",7.50
1103,Boruto: Naruto the Movie - Naruto ga Hokage ni...,"Action, Comedy, Martial Arts, Shounen, Super P...",7.68
1343,Naruto x UT,"Action, Comedy, Martial Arts, Shounen, Super P...",7.58
2458,Naruto Shippuuden: Sunny Side Battle,"Action, Comedy, Martial Arts, Shounen, Super P...",7.26

### Performance Analysis & Improvements
trengths

No cold-start issue for new users

Fast & scalable

Easy to interpret

Limitations

No user personalization

Genre-based similarity may ignore user taste

Popularity bias

Improvements

Hybrid system (content + collaborative)

Use word embeddings (Word2Vec/BERT)

Add user-rating interactions

Weighted features (genre > rating)

### interview questions
1.Difference Between User-Based & Item-Based Collaborative Filtering

User-Based CF
Recommends items liked by similar users
Focuses on user similarity
Item-Based CF
Recommends items similar to what the user liked
Focuses on item similarity
More scalable & stable

2.What Is Collaborative Filtering?
Collaborative Filtering is a recommendation technique that uses past user behavior (ratings, likes, interactions) to predict future preferences.

How it Works:
Collect user-item interaction data
Find similarities (users or items)
Predict unseen preferences
Recommend top items

Types:
User-Based CF
Item-Based CF
Matrix Factorization (SVD)